Power-Automate/GetAnEnvironmentVariable_1_0_0_1/Workflows/Getanenviromentvariable-551BC58D-6CBD-EA11-A812-000D3A8527AE.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text":{"title":"schemaname","type":"string","x-ms-dynamically-added":true,"description":"Populate a schemaname","x-ms-content-hint":"TEXT"}},"required":["text"]}}}},"actions":{"Get_the_environment_variable_definition":{"runAfter":{"Create_var_ReturnValue":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItems_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"environmentvariabledefinitions","$filter":"schemaname eq '@{triggerBody()['text']}'","$top":1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each":{"foreach":"@outputs('Get_the_environment_variable_definition')?['body/value']","actions":{"Get_the_environment_variable_value":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItems_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"environmentvariablevalues","$filter":"_environmentvariabledefinitionid_value eq @{items('Apply_to_each')?['environmentvariabledefinitionid']}","$top":1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_3":{"foreach":"@outputs('Get_the_environment_variable_value')?['body/value']","actions":{"Set_var_CurrentValue":{"runAfter":{},"type":"SetVariable","inputs":{"name":"var_CurrentValue","value":"@items('Apply_to_each_3')?['value']"}}},"runAfter":{"Get_the_environment_variable_value":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":1}}}},"runAfter":{"Apply_to_each_2":["Succeeded"]},"type":"Foreach"},"Create_var_DefaultValue":{"runAfter":{"Create_var_ValueType":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"var_DefaultValue","type":"string"}]}},"Create_var_CurrentValue":{"runAfter":{"Create_var_DefaultValue":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"var_CurrentValue","type":"string"}]}},"Create_var_ValueType":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"var_ValueType","type":"string"}]}},"Is_Current_Value":{"actions":{"Set_CurrentValue_to_Return_Value":{"runAfter":{},"type":"SetVariable","inputs":{"name":"var_ReturnValue","value":"@variables('var_CurrentValue')"}},"Set_CurrentValue_to_ValueType":{"runAfter":{"Set_CurrentValue_to_Return_Value":["Succeeded"]},"type":"SetVariable","inputs":{"name":"var_ValueType","value":"CurrentValue"}}},"runAfter":{"Apply_to_each":["Succeeded"]},"else":{"actions":{"Is_Default_Value":{"actions":{"Set_DefaultValue_to_Return_Value":{"runAfter":{},"type":"SetVariable","inputs":{"name":"var_ReturnValue","value":"@variables('var_DefaultValue')"}},"Set_DefaultValue_to_ValueType":{"runAfter":{"Set_DefaultValue_to_Return_Value":["Succeeded"]},"type":"SetVariable","inputs":{"name":"var_ValueType","value":"DefaultValue"}}},"runAfter":{},"else":{"actions":{"Set_NoVariable_to_ValueType":{"runAfter":{},"type":"SetVariable","inputs":{"name":"var_ValueType","value":"NoVariable"}}}},"expression":{"equals":["@empty(variables('var_DefaultValue'))","@false"]},"type":"If"}}},"expression":{"equals":["@empty(variables('var_CurrentValue'))","@false"]},"type":"If"},"Apply_to_each_2":{"foreach":"@outputs('Get_the_environment_variable_definition')?['body/value']","actions":{"Set_var_DefaultValue_":{"runAfter":{},"type":"SetVariable","inputs":{"name":"var_DefaultValue","value":"@items('Apply_to_each_2')?['defaultvalue']"}}},"runAfter":{"Get_the_environment_variable_definition":["Succeeded"]},"type":"Foreach"},"Response":{"runAfter":{"Compose":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":"@outputs('Compose')","schema":{"type":"object","properties":{"ValueType":{"type":"string"},"EnvironmentVariableValue":{"type":"string"}}}}},"Compose":{"runAfter":{"Is_Current_Value":["Succeeded"]},"type":"Compose","inputs":{"ValueType":"@variables('var_ValueType')","EnvironmentVariableValue":"@variables('var_ReturnValue')"}},"Create_var_ReturnValue":{"runAfter":{"Create_var_CurrentValue":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"var_ReturnValue","type":"string"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}